* {
    margin: 0px;
    padding: 0px;
}
.login {
    align-items: left

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 20px;
     background-color: pink;
}

.hero {
    display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: red;
}

.feature {
    display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: green;
}

.footer {
    display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
    justify-content: bottom;
    align-items: bottom;
    gap: 20px;
    background-color: blue;
}
